@prefix dc: <http://purl.org/dc/elements/1.1/> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix sc: <http://iiif.io/api/presentation/2#> .
@prefix svcs: <http://rdfs.org/sioc/services#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix ore: <http://www.openarchives.org/ore/terms/> .
@prefix exif: <http://www.w3.org/2003/12/exif/ns#> .
@prefix dctypes: <http://purl.org/dc/dcmitype/> .
@prefix oa: <http://www.w3.org/ns/oa#> .
@prefix doap: <http://usefulinc.com/ns/doap#> .
<{{{serviceBaseUrl}}}/{{{identifier}}}/manifest.json>
	a sc:Manifest;
	rdfs:label "{{{title}}}";
	sc:attributionLabel "{{{attribution}}}";
	dc:description "{{{description}}}";
	{{#licensettl}}{{{licensettl}}}{{/licensettl}}
	dcterms:isPartOf <{{{repositoryUrl}}}>;
	rdfs:seeAlso <{{{presentationUrl}}}{{{presentationPath}}}>;
	foaf:logo <{{{repositoryLogo}}}>;
	sc:hasSequences ( <{{{serviceBaseUrl}}}/{{{identifier}}}/sequence/normal.json> ) .
